<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="serv" version="3.0">
    <display-name>Source:</display-name>
    <description>Yet another source browser</description>
    <!--
    <context-param>
        <param-name>CONFIGURATION</param-name>
        <param-value>@CONFIG_PATH@</param-value>
        <description>Full path to the configuration file where OpenGrok can read it's configuration. Default: $HOME/.sourcecolon/etc/config.xml</description>
    </context-param>
    -->

    <listener>
        <listener-class>org.watermint.sourcecolon.org.opensolaris.opengrok.web.WebappListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>search</servlet-name>
        <jsp-file>/og_search.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>lister</servlet-name>
        <jsp-file>/og_list.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>more</servlet-name>
        <jsp-file>/og_more.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>raw</servlet-name>
        <jsp-file>/og_raw.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/og_error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>enoent</servlet-name>
        <jsp-file>/og_enoent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
        <!-- SEARCH_P -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lister</servlet-name>
        <url-pattern>/xref/*</url-pattern>
        <!-- XREF_P -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>raw</servlet-name>
        <url-pattern>/raw/*</url-pattern>
        <!-- RAW_P -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/s</url-pattern>
        <!-- SEARCH_R -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>more</servlet-name>
        <url-pattern>/more/*</url-pattern>
        <!-- MORE_P -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
        <!-- ERROR -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enoent</servlet-name>
        <url-pattern>/enoent</url-pattern>
        <!-- NOT_FOUND -->
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/enoent</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
</web-app>
