i.logo-sourcecolon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 14px;
    vertical-align: text-top;
    background: url("../img/icon-64.png") no-repeat;
    background-size: 14px 14px;
}