body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sc-logo-brand {
    display: inline-block;
    line-height: 14px;
    vertical-align: text-bottom;
    background: url(../img/icon-64.png) no-repeat;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
    margin: 2px;
}

/* from pretty print of twitter bootstrap */
.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
    -webkit-box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
    -moz-box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
    box-shadow: inset 60px 0 0 #fbfbfc, inset 61px 0 0 #ececf0;
}

ol.linenums {
    margin: 0 0 0 53px;
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
}
