@(files: Seq[models.search.ManagedFile] = Seq())
@import helper.twitterBootstrap._
@main("Source:") {
    <h1>Source:</h1>

    @helper.form(action = routes.Admin.files(), args = 'id -> "filesForm"){
        @helper.inputText(
            field = Admin.filesForm("q"),
            args = '_label -> "Quick Search"
        )
    }

    <h1>Files</h1>

    <table class="table table-striped">
        @for(file <- files){
            <tr>
                <td>@file.path</td>
            </tr>
        }
    </table>
}
